.game-board {
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 300px 300px 300px;
}


   body {
       display: flex;
       justify-content: center;
   }
.box {


    display: flex;
    align-items: center;
    justify-content: center;
    color: #AAA;
}
img{
width: 300px;
height: 300px;
}